@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.pagination {
  @include margin-top(2);
  display: flex;

  &__prev {
    width: 50%;
    text-align: left;

    &-link {
      &--disable {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__next {
    width: 50%;
    text-align: right;

    &-link {
      &--disable {
        opacity: 0;
        pointer-events: none;
      }
    }

  }

}
