/**
 * Variables
 */

// Colors
$body-background: rgb(40, 41, 54);
$body-light-background: #fcf8f1;

$color-base: #ccc;
$color-light-base: #01262b;

$color-primary: rgba(255, 184, 108, 1);
$color-light-primary: #e94981;
$color-secondary: rgba(220, 104, 170, 1);
$color-thirdary: rgba(139, 233, 253, 1);
$color-light-thirdary: #339be6;
$color-fourthary: rgba(80, 250, 123, 1);

$color-white: #FFF;
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

// Typographic
$typographic-font-family: "Fira Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-light-base-font-color: $color-light-base;

$typographic-link-p-font-color: $color-primary;
$typographic-link-light-p-font-color: $color-light-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;
$button-border-radius: 20px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 305px;

$layout-width: 1070px;
