@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

@keyframes textDisplay {
    from {
        transform: scale(0) translateY(40px) rotate(-205deg);
    }

    to {
        transform: scale(1) translateY(0px) rotate(0deg);
    }
}

.author {

  &[data-render-count='1'] span {
    display: inline-block;
    animation: textDisplay 150ms ease-in;
    animation-fill-mode: forwards;
    transform: scale(0);
  }


  &__photo {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box
  }

  &__title {
    font-size: $typographic-base-font-size * 3.6;
    font-weight: 800;
    font-family: $typographic-decorative-font-family;
    white-space: nowrap;
    @include line-height(1.125);
    @include margin(.5, 0, .5, 0);

    span:first-child {
      color: rgba(220, 104, 170, 1);
      text-transform: uppercase;
    }

    span:nth-child(2) {
      color: rgba(255, 184, 108, 1);
      animation-delay: 200ms;
    }

    span:nth-child(3) {
      color: rgba(98, 239, 117, 1);
      animation-delay: 400ms;
    }

    span:nth-child(4) {
      color: rgba(139, 233, 253, 1);
      animation-delay: 600ms;
    }

    span:nth-child(5) {
      color: rgba(189, 147, 249, 1);
      animation-delay: 800ms;
    }

    span:nth-child(6) {
      color: rgba(220, 104, 170, 1);
      animation-delay: 1000ms;
    }

    span:nth-child(7) {
      color: rgba(255, 184, 108, 1);
    }

    span:nth-child(8) {
      color: rgba(98, 239, 117, 1);
    }

    span:nth-child(9) {
      color: rgba(139, 233, 253, 1);
    }

    span:nth-child(11) {
      color: rgba(189, 147, 249, 1);
    }

    span:nth-child(12) {
      color: rgba(220, 104, 170, 1);
    }

    span:nth-child(13) {
      color: rgba(255, 184, 108, 1);
    }

    span:nth-child(14) {
      color: rgba(98, 239, 117, 1);
    }

    span:nth-child(15) {
      color: rgba(139, 233, 253, 1);
    }

    span:nth-child(16) {
      color: rgba(189, 147, 249, 1);
    }

    &-link {
      color: $color-base;
      opacity: .9;
      display: inline-block;

      &:hover,
      &:focus {
        color: $color-base;
        opacity: 1;
      }

    }

  }

  &__subtitle {
    color: $color-gray;
    @include line-height(1);
    @include margin-bottom(1)
  }

}
